<main class="container ">
    <div class="row p-3 p-md-1">
        <div *ngFor="let filme of filmes" class="card m-2" style="max-width: 420px;">
            <div class="row g-0">
                <div class="col-4">
                    <img [src]="filme.urlPoster" class="img-fluid rounded-4 p-2" alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">{{filme.titulo}}</h5>
                        <p class="card-text">Data de Lancamento <strong>{{filme.dataLancamento}}</strong></p>
                        <p class="card-text"><small class="text-body-secondary">Nota:</small>
                            <label *ngIf="filme.nota > 0" class="fw-semibold p-2 rounded-1 m-2"
                                [ngClass]="corNota(filme.nota)">
                                {{filme.nota}}
                            </label>
                            <label *ngIf="filme.nota == 0" class="text-bg-primary fw-semibold p-2 rounded-1 m-2">
                                Sem Nota
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row col-md-5 mx-auto ">
        <div class="col-5">
            <button *ngIf="pagina != 1" class="btn btn-primary m-2" (click)="paginaAnterior()">
                <i class="bi bi-arrow-left"></i>
                Pagina anterior
            </button>
        </div>
        <div class="col-2">
            <label class="text-bg-primary fw-semibold p-2 rounded-1 m-2">
                {{pagina}}
            </label>
        </div>
        <div class="col-5">
            <button class="btn btn-primary m-2" (click)="proximaPagina()">
                Proxima pagina
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</main>